<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <!-- log4j2.xml 설정파일을 로드할 때, 내부적으로 DEBUG 레벨로 찍고 있음 -->
    <!-- 프로퍼티를 정의하여 로그 파일의 저장 경로를 설정 -->
    <Properties>
        <Property name="projectName">myweb </Property>
        <Property name="logDir">C:/logs/log4j2/${projectName}</Property>
        <Property name="archive">C:/logs/log4j2/${projectName}/archive</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm} [%-5p] %M -%msg%n</Property>
    </Properties>

    <Appenders>
        <!-- Console appender -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c - %msg%n %xEx{full}</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="logFile"
                     fileName="${logDir}/${date:yyyy-MM-dd}-${projectName}.log"
                     filePattern="${logDir}/${projectName}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- 매일 새로운 로그 파일을 생성 -->
                <TimeBasedTriggeringPolicy/>
                <!-- 로그 파일 크기가 10MB를 초과하면 새로운 파일을 생성 -->
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="${logDir}" maxDepth="2">
                    <IfFileName glob="*.log.gz"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <!-- ALL<TRACE<DEBUG<INFO<WARN<ERROR<FATAL<OFF -->
    <Loggers>
        <!-- 전체: root, 스프링 프레임워크: org.springframework -->
        <Root level="DEBUG" > <!-- additivity=false: 로깅메시지 중복 방지 -->
            <AppenderRef ref="logFile"/>
            <AppenderRef ref="console"/>
        </Root>
        <!-- General SQL logs -->
        <Logger name="java.sql" additivity="false">
            <AppenderRef ref="console" level="DEBUG" />
            <AppenderRef ref="logFile" level="INFO" />
        </Logger>
        <!-- Additional JDBC logging -->
        <Logger name="jdbc" additivity="false">
            <AppenderRef ref="console" level="INFO" />
            <AppenderRef ref="logFile" level="INFO" />
        </Logger>

        <Logger name="com.zaxxer.hikari">
            <AppenderRef ref="console" level="INFO" />
            <AppenderRef ref="logFile" level="INFO" />
        </Logger>

        <!-- Application Loggers -->
        <Logger name="com.example.myweb" additivity="false" >
            <AppenderRef ref="console" level="DEBUG" />
            <AppenderRef ref="logFile" level="DEBUG" />
        </Logger>

        <!-- Spring Framework: 베이스 패키지 구조로 잡아줘야 함 -->
        <Logger name="org.springframework" additivity="false">
            <AppenderRef ref="console" level="INFO" />
            <AppenderRef ref="logFile" level="DEBUG" />
        </Logger>

        <!-- SQL logs (assuming MyBatis) -->
        <Logger name="org.apache" additivity="false">
            <AppenderRef ref="console" level="INFO" />
            <AppenderRef ref="logFile" level="INFO" />
        </Logger>
        <Logger name="org.mybatis" additivity="false">
            <AppenderRef ref="console" level="INFO" />
            <AppenderRef ref="logFile" level="INFO" />
        </Logger>
    </Loggers>

</Configuration>