<?xml version="1.0" encoding="UTF-8"?>
<!--  /src/main/resources/logback.xml  -->
<Configuration scan="true" scanPeriod="30 seconds">
    <!-- 30초 주기로 파일을 검사하여 바뀌었으면 프로그램을 갱신한다. -->

    <!-- property 선언 -->
	<Property name="projectName">myweb </Property>
	<Property name="logDir">C:/logs/log4j2/${projectName}</Property>
	<Property name="LOGS_PATH">C:/logs/log4j2/${projectName}</Property>
	<Property name="LOG_PATTERN"
	          value="%d{yyyy-MM-dd HH:mm:ss} [%p] %logger{36} - %msg%n"/>
    <Property name="LOG_CHARSET" value="UTF-8"/>
    <timestamp key="BY_DATE"     datePattern="yyyy-MM-dd"/>
	
    <!-- ConsoleAppender -->
	<Appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		    <!-- 로그 메시지 출력 형식 설정 
   			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
   			<!-- property 사용 -->
   			<pattern>${LOG_PATTERN}</pattern>
			<charset>${LOG_CHARSET}</charset>
		</encoder>
	</Appender>
	<!-- RollingFileAppender -->
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 파일경로 설정 -->
		<file>${LOGS_PATH}/logback.log</file>
	
		<!-- Rolling 정책 -->	
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 일자별 로그파일 최대 보관주기(일) -->
			<maxHistory>60</maxHistory>
			<!-- 파일 쓰기가 종료된 log 파일명의 패턴을 지정, (.gz,.zip 등을 넣으면 자동 일자별 로그파일 압축) -->
			<fileNamePattern>${LOGS_PATH}/logback.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- 파일당 최고 용량 -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>		
		<!-- 출력패턴 설정-->
		<encoder>
  			<pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder> 
	</appender>
    
	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<!-- 에러 로그 필터링 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter"> 
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch> 
			<onMismatch>DENY</onMismatch> 
		</filter>
		<!-- 파일경로 설정 -->
		<file>${LOGS_PATH}/error.log</file>
		<!-- Rolling 정책 -->	
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 일자별 로그파일 최대 보관주기(일) -->
			<maxHistory>60</maxHistory>
			<!-- 파일 쓰기가 종료된 log 파일명의 패턴을 지정, (.gz,.zip 등을 넣으면 자동 일자별 로그파일 압축) -->
			<fileNamePattern>${LOGS_PATH}/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>	
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- 파일당 최고 용량 -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>		   	
		</rollingPolicy>
		<!-- 출력패턴 설정-->
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder> 	    
	</appender>

	<!-- ALL<TRACE<DEBUG<INFO<WARN<ERROR<FATAL<OFF -->
       
       <!-- springframework Loggers -->
	   <Logger name="org.springframework.web" level="INFO" additivity="false">
           <AppenderRef ref="CONSOLE" />
       </Logger>
      
       <!-- INFO 레벨 로그를 보이지 않도록 설정 -->
       <logger name="ch.qos.logback.classic" level="OFF" additivity="false">
       		<appender-ref ref="CONSOLE" />
       </logger>
       <logger name="ch.qos.logback.core" level="OFF" additivity="false">
       		<appender-ref ref="CONSOLE" />
       </logger>
       
       <!-- Application Loggers -->
       <logger name="com.example.myweb" level="INFO" additivity="false">
		   <appender-ref ref="CONSOLE" />    	
       </logger>
    	    
    <!-- Query log4jdbc Loggers -->
    <!-- jdbc.audit와 jdbc.sqlonly 로그를 보이지 않도록 설정 -->
    <logger name="jdbc.sqlonly" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="jdbc.audit" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>	
    <logger name="jdbc.resultset" level="OFF" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>	
             
    <logger name="jdbc.sqltiming" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
     <logger name="jdbc.resultsettable" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!-- Query Loggers -->        
    
    <!-- root 로거 설정 -->
    <root level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING"/>
    </root>
        
</Configuration>